# <center> Phase 01: Python Control Statements </center>

### 1. Implementing Match Statements

The `match` statement is a structural pattern matching feature introduced in Python 3.10. It allows for more readable and expressive code when dealing with multiple conditions.

#### Syntax
```python
match variable:
    case pattern1:
        # code block
    case pattern2:
        # code block
    case _:
        # default code block
```

#### Examples
1. **Simple Match**
    ```python
    status = 404

    match status:
        case 200:
            print("OK")
        case 404:
            print("Not Found")
        case 500:
            print("Server Error")
        case _:
            print("Unknown status")
    ```

2. **Matching Tuples**
    ```python
    point = (0, 0)

    match point:
        case (0, 0):
            print("Origin")
        case (x, 0):
            print(f"X-axis at {x}")
        case (0, y):
            print(f"Y-axis at {y}")
        case (x, y):
            print(f"Point at ({x}, {y})")
    ```

3. **Matching with Guards**
    ```python
    user = {"role": "admin", "name": "Alice"}

    match user:
        case {"role": "admin"}:
            print("Admin user")
        case {"role": "guest"}:
            print("Guest user")
        case _ if "name" in user:
            print(f"User: {user['name']}")
        case _:
            print("Unknown user")
    ```


- **Readability**: Use `match` statements to improve readability over complex `if-elif-else` chains.
- **Performance**: Be aware that pattern matching can sometimes be more efficient than multiple conditional checks.
- **Use Cases**: Ideal for parsing complex data structures like JSON or dictionaries with varying formats.

### 2. Implementing Nested Elif Statements

#### Introduction
Nested `elif` statements are useful for handling multiple conditions that require hierarchical checking.

#### Syntax
```python
if condition1:
    if condition1_1:
        # code block
    elif condition1_2:
        # code block
elif condition2:
    if condition2_1:
        # code block
    elif condition2_2:
        # code block
else:
    # default code block
```

#### Examples
1. **Basic Nested Elif**
    ```python
    x = 10
    y = 20

    if x > 5:
        if y > 15:
            print("x is greater than 5 and y is greater than 15")
        elif y < 15:
            print("x is greater than 5 and y is less than 15")
    elif x < 5:
        if y > 15:
            print("x is less than 5 and y is greater than 15")
        elif y < 15:
            print("x is less than 5 and y is less than 15")
    else:
        print("x is equal to 5")
    ```

2. **Complex Conditions**
    ```python
    age = 30
    income = 50000

    if age < 18:
        if income < 10000:
            print("Minor with low income")
        elif income >= 10000:
            print("Minor with high income")
    elif 18 <= age < 65:
        if income < 10000:
            print("Adult with low income")
        elif 10000 <= income < 50000:
            print("Adult with middle income")
        else:
            print("Adult with high income")
    else:
        if income < 10000:
            print("Senior with low income")
        elif 10000 <= income < 50000:
            print("Senior with middle income")
        else:
            print("Senior with high income")
    ```


- **Clarity**: Ensure nested `elif` statements are clear and maintainable.
- **Refactoring**: If conditions become too nested, consider refactoring into functions or using `match` statements for better readability.
- **Logical Grouping**: Group related conditions logically to avoid confusion and errors.


### 3. Implementing Iterators

#### Introduction
Iterators are objects in Python that allow traversing through all the elements of a collection or sequence.

#### Syntax
- **Creating an Iterator**:
    ```python
    iter_obj = iter(collection)
    ```
- **Using an Iterator**:
    ```python
    next(iter_obj)
    ```

#### Examples
1. **Using Built-in Iterator**
    ```python
    my_list = [1, 2, 3, 4]
    iter_obj = iter(my_list)

    print(next(iter_obj))  # Output: 1
    print(next(iter_obj))  # Output: 2
    ```

2. **Custom Iterator Class**
    ```python
    class MyRange:
        def __init__(self, start, end):
            self.current = start
            self.end = end

        def __iter__(self):
            return self

        def __next__(self):
            if self.current >= self.end:
                raise StopIteration
            current = self.current
            self.current += 1
            return current

    my_range = MyRange(1, 5)
    for number in my_range:
        print(number)  # Output: 1 2 3 4
    ```

- **Efficiency**: Iterators can improve memory efficiency by generating elements on-the-fly rather than storing entire collections in memory.
- **Custom Iterators**: Use custom iterators to encapsulate complex iteration logic.
- **Generators**: Consider using generators (`yield` keyword) for simpler and more readable code.

### 4. Applying Break and Continue Statements

The `break` and `continue` statements are used to control the flow of loops. The `break` statement exits the loop prematurely, while the `continue` statement skips the rest of the code inside the loop for the current iteration and moves to the next iteration.

#### Syntax
- **Break**:
    ```python
    for item in collection:
        if condition:
            break
        # code block
    ```
- **Continue**:
    ```python
    for item in collection:
        if condition:
            continue
        # code block
    ```

#### Examples
1. **Using Break in a Loop**
    ```python
    for i in range(10):
        if i == 5:
            break
        print(i)
    # Output: 0 1 2 3 4
    ```

2. **Using Continue in a Loop**
    ```python
    for i in range(10):
        if i % 2 == 0:
            continue
        print(i)
    # Output: 1 3 5 7 9
    ```

3. **Nested Loops with Break**
    ```python
    for i in range(3):
        for j in range(3):
            if j == 1:
                break
            print(f"i: {i}, j: {j}")
    # Output:
    # i: 0, j: 0
    # i: 1, j: 0
    # i: 2, j: 0
    ```

4. **Nested Loops with Continue**
    ```python
    for i in range(3):
        for j in range(3):
            if j == 1:
                continue
            print(f"i: {i}, j: {j}")
    # Output:
    # i: 0, j: 0
    # i: 0, j: 2
    # i: 1, j: 0
    # i: 1, j: 2
    # i: 2, j: 0
    # i: 2, j: 2
    ```


- **Break Usage**: Use `break` to exit loops when a condition is met, preventing unnecessary iterations.
- **Continue Usage**: Use `continue` to skip the current iteration and proceed to the next one when certain conditions are met.
- **Nested Loops**: When using `break` and `continue` in nested loops, be clear about which loop they are intended to control.


### 5. Implementing If-Else Statements

The `if-else` statement is used to execute code based on whether a condition is true or false.

#### Syntax
```python
if condition:
    # code block for true condition
else:
    # code block for false condition
```

#### Examples
1. **Simple If-Else**
    ```python
    age = 18

    if age >= 18:
        print("You are an adult.")
    else:
        print("You are a minor.")
    ```

2. **If-Elif-Else**
    ```python
    score = 85

    if score >= 90:
        print("Grade: A")
    elif score >= 80:
        print("Grade: B")
    elif score >= 70:
        print("Grade: C")
    else:
        print("Grade: F")
    ```

3. **Nested If-Else**
    ```python
    num = 10

    if num > 0:
        if num % 2 == 0:
            print("Positive even number")
        else:
            print("Positive odd number")
    else:
        if num % 2 == 0:
            print("Negative even number")
        else:
            print("Negative odd number")
    ```


- **Readability**: Ensure that `if-else` statements are clear and readable. Avoid deep nesting.
- **Boolean Logic**: Simplify conditions using boolean logic to make code more concise.
- **Ternary Operator**: For simple conditional assignments, consider using the ternary operator for brevity:
    ```python
    result = "Adult" if age >= 18 else "Minor"
    ```

---

### 6. Implementing While/Do-While Loops

The `while` loop repeatedly executes a block of code as long as the condition is true. Python does not have a built-in `do-while` loop, but similar behavior can be mimicked.

#### Syntax
- **While Loop**:
    ```python
    while condition:
        # code block
    ```

- **Mimicking Do-While Loop**:
    ```python
    while True:
        # code block
        if not condition:
            break
    ```

#### Examples
1. **Simple While Loop**
    ```python
    count = 0

    while count < 5:
        print(count)
        count += 1
    # Output: 0 1 2 3 4
    ```

2. **Do-While Loop Behavior**
    ```python
    count = 0

    while True:
        print(count)
        count += 1
        if count >= 5:
            break
    # Output: 0 1 2 3 4
    ```

3. **Using While with Else**
    ```python
    count = 0

    while count < 5:
        print(count)
        count += 1
    else:
        print("Loop ended")
    # Output: 0 1 2 3 4
    #         Loop ended
    ```

- **Condition Check**: Ensure that the loop condition will eventually become false to avoid infinite loops.
- **Break in Do-While**: When mimicking `do-while`, ensure that the `break` condition is well-defined to prevent infinite execution.
- **Use Cases**: Use `while` loops for indefinite iteration when the number of iterations is not known beforehand.


### 7. Implementing For Loops

The `for` loop in Python is used for iterating over a sequence (such as a list, tuple, or string).

#### Syntax
```python
for item in sequence:
    # code block
```

#### Examples
1. **Iterating Over a List**
    ```python
    fruits = ["apple", "banana", "cherry"]

    for fruit in fruits:
        print(fruit)
    # Output: apple banana cherry
    ```

2. **Iterating Over a String**
    ```python
    word = "hello"

    for letter in word:
        print(letter)
    # Output: h e l l o
    ```

3. **Using Range in For Loop**
    ```python
    for i in range(5):
        print(i)
    # Output: 0 1 2 3 4
    ```

4. **Nested For Loops**
    ```python
    for i in range(3):
        for j in range(2):
            print(f"i: {i}, j: {j}")
    # Output:
    # i: 0, j: 0
    # i: 0, j: 1
    # i: 1, j: 0
    # i: 1, j: 1
    # i: 2, j: 0
    # i: 2, j: 1
    ```


- **Sequences**: Use `for` loops for iterating over sequences where the number of iterations is known.
- **Efficiency**: Be mindful of the efficiency, especially in nested loops.
- **Itertools**: For advanced iteration patterns, consider using the `itertools` module for better performance and readability.


### 8. Implementing the Range Function in Loops

The `range` function generates a sequence of numbers, which is commonly used in loops for a specified number of iterations.

#### Syntax
```python
range(stop)
range(start, stop)
range(start, stop, step)
```

#### Examples
1. **Basic Range Usage**
    ```python
    for i in range(5):
        print(i)
    # Output: 0 1 2 3 4
    ```

2. **Range with Start and Stop**
    ```python
    for i in range(2, 6):
        print(i)
    # Output: 2 3 4 5
    ```

3. **Range with Step**
    ```python
    for i in range(1, 10, 2):
        print(i)
    # Output: 1 3 5 7 9
    ```

4. **Negative Step**
    ```python
    for i in range(10, 0, -2):
        print(i)
    # Output: 10 8 6 4 2
    ```


- **Memory Efficiency**: `range` is memory efficient as it generates numbers on the fly.
- **Start and Stop**: Specify `start` and `stop` for customized ranges.
- **Step**: Use the `step` parameter to skip values or reverse the range.

# 1. Implement match statements

# Match Integer Values

In [188]:
number = 3

match number:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Unknown number")

Three

# Match String Values

In [189]:
fruit = "apple"

match fruit:
    case "apple":
        print("Apple")
    case "banana":
        print("Banana")
    case "cherry":
        print("Cherry")
    case _:
        print("Unknown fruit")

Apple

# Match Boolean Values

In [190]:
flag = True

match flag:
    case True:
        print("Flag is True")
    case False:
        print("Flag is False")
    case _:
        print("Unknown flag")

Flag is True

# Match Tuples

In [191]:
coordinates = (0, 1)

match coordinates:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"Y-axis at {y}")
    case (x, 0):
        print(f"X-axis at {x}")
    case (x, y):
        print(f"Point at ({x}, {y})")

Y-axis at 1

# Match Lists

In [192]:
items = [1, 2, 3]

match items:
    case []:
        print("Empty list")
    case [1]:
        print("Single item list with 1")
    case [1, 2, 3]:
        print("List with 1, 2, 3")
    case _:
        print("Unknown list")

List with 1, 2, 3

# Match Dictionaries

In [193]:
user = {"name": "Alice", "role": "admin"}

match user:
    case {"name": "Alice"}:
        print("User Alice")
    case {"role": "admin"}:
        print("Admin role")
    case _:
        print("Unknown user")

User Alice

# Match Class Instances

In [194]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p = Person("Alice", 30)

match p:
    case Person(name="Alice", age=30):
        print("Matched Alice")
    case Person(name="Bob", age=25):
        print("Matched Bob")
    case _:
        print("Unknown person")

Matched Alice

# Match with Guards

In [195]:
num = 10

match num:
    case _ if num > 0:
        print("Positive number")
    case _ if num < 0:
        print("Negative number")
    case _:
        print("Zero")

Positive number

# Match Nested Patterns

In [196]:
data = {"user": {"name": "Alice", "age": 30}}

match data:
    case {"user": {"name": "Alice"}}:
        print("User Alice")
    case {"user": {"age": 30}}:
        print("Age 30")
    case _:
        print("Unknown data")

User Alice

# Match Wildcard

In [197]:
value = 42

match value:
    case 1 | 2 | 3:
        print("Matched 1, 2, or 3")
    case _:
        print("Default case")

Default case

# Match with Multiple Conditions

In [198]:
command = ("MOVE", "UP")

match command:
    case ("MOVE", "UP"):
        print("Moving up")
    case ("MOVE", "DOWN"):
        print("Moving down")
    case ("STOP",):
        print("Stopping")
    case _:
        print("Unknown command")

Moving up

# Match Range

In [199]:
score = 85

match score:
    case _ if 90 <= score <= 100:
        print("Grade A")
    case _ if 80 <= score < 90:
        print("Grade B")
    case _ if 70 <= score < 80:
        print("Grade C")
    case _:
        print("Grade F")

Grade B

# Match Empty Value

In [200]:
value = None

match value:
    case None:
        print("No value")
    case _:
        print("Some value")

No value

# Match by Type

In [201]:
value = 3.14

match value:
    case int():
        print("Integer")
    case float():
        print("Float")
    case str():
        print("String")
    case _:
        print("Unknown type")

Float

# Match by Length

In [202]:
my_list = [1, 2, 3, 4]

match my_list:
    case _ if len(my_list) == 0:
        print("Empty list")
    case _ if len(my_list) == 4:
        print("List with four elements")
    case _:
        print("Other list")

List with four elements

# Match with Fallback

In [203]:
user_role = "guest"

match user_role:
    case "admin":
        print("Admin access")
    case "user":
        print("User access")
    case _:
        print("Guest access")

Guest access

# Match Nested Lists

In [204]:
matrix = [[1, 2], [3, 4]]

match matrix:
    case [[1, 2], [3, 4]]:
        print("Matched 2x2 matrix")
    case _:
        print("Unknown matrix")

Matched 2x2 matrix

# Match Attributes

In [205]:
class Car:
    def __init__(self, make, model):
        self.make = make
        self.model = model

car = Car("Toyota", "Camry")

match car:
    case Car(make="Toyota", model="Camry"):
        print("Matched Toyota Camry")
    case Car(make="Honda", model="Civic"):
        print("Matched Honda Civic")
    case _:
        print("Unknown car")

Matched Toyota Camry

# Match with Default Case

In [206]:
def match_shape(shape):
    match shape:
        case "circle":
            return "Circle shape"
        case "square":
            return "Square shape"
        case _:
            return "Unknown shape"

shape = "triangle"
result = match_shape(shape)
print(result)  # Output: Unknown shape

Unknown shape

# 2. Implementing Nested Elif Statements

## Basic Nested Elif

In [207]:
temperature = 30

if temperature > 20:
    if temperature > 25:
        print("It's a hot day")
    else:
        print("It's a warm day")
elif temperature > 10:
    print("It's a cool day")
else:
    print("It's a cold day")

It's a hot day

## Checking Grades

In [208]:
score = 75

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    if score >= 75:
        grade = 'C+'
    else:
        grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"Grade: {grade}")

Grade: C+

## Nested Elif for Age and Membership Status

In [209]:
age = 40
membership_status = 'silver'

if age > 18:
    if membership_status == 'gold':
        print("Gold member")
    elif membership_status == 'silver':
        print("Silver member")
    else:
        print("Regular member")
else:
    print("Underage member")

Silver member

## Product Pricing

In [210]:
product = "laptop"
price = 1200

if product == "laptop":
    if price > 1000:
        print("High-end laptop")
    elif 500 <= price <= 1000:
        print("Mid-range laptop")
    else:
        print("Budget laptop")
elif product == "phone":
    if price > 800:
        print("High-end phone")
    elif 300 <= price <= 800:
        print("Mid-range phone")
    else:
        print("Budget phone")
else:
    print("Unknown product")

High-end laptop

## Nested Elif for Location and Weather

In [211]:
location = "beach"
weather = "sunny"

if location == "beach":
    if weather == "sunny":
        print("Perfect day for the beach")
    elif weather == "rainy":
        print("Not a good day for the beach")
    else:
        print("Uncertain beach day")
elif location == "mountain":
    if weather == "sunny":
        print("Great day for hiking")
    elif weather == "rainy":
        print("Dangerous hiking conditions")
    else:
        print("Check weather before hiking")
else:
    print("Unknown location")

Perfect day for the beach

## Access Control Based on Role and Department

In [212]:
role = "manager"
department = "sales"

if role == "manager":
    if department == "sales":
        print("Sales manager access")
    elif department == "marketing":
        print("Marketing manager access")
    else:
        print("Manager access")
elif role == "employee":
    if department == "sales":
        print("Sales employee access")
    elif department == "marketing":
        print("Marketing employee access")
    else:
        print("Employee access")
else:
    print("No access")

Sales manager access

## Discount Calculation Based on Age and Membership

In [213]:
age = 25
membership = "premium"

if age < 18:
    discount = 20
elif age < 60:
    if membership == "premium":
        discount = 30
    elif membership == "basic":
        discount = 10
    else:
        discount = 5
else:
    if membership == "premium":
        discount = 50
    else:
        discount = 30

print(f"Discount: {discount}%")

Discount: 30%

## Event Scheduling

In [214]:
day = "Saturday"
time = 10

if day in ["Saturday", "Sunday"]:
    if time < 12:
        print("Morning event on weekend")
    else:
        print("Afternoon event on weekend")
elif day in ["Monday", "Friday"]:
    if time < 12:
        print("Morning event on weekday")
    else:
        print("Afternoon event on weekday")
else:
    print("No event scheduled")

Morning event on weekend

## Financial Aid Eligibility

In [215]:
income = 40000
gpa = 3.5

if income < 20000:
    aid = 5000
elif income < 50000:
    if gpa > 3.0:
        aid = 3000
    else:
        aid = 1000
else:
    aid = 500

print(f"Financial aid: ${aid}")

Financial aid: $3000

## Complex Nested Conditions

In [216]:
height = 180
weight = 75
activity_level = "high"

if height > 170:
    if weight > 70:
        if activity_level == "high":
            print("Tall, healthy weight, high activity")
        elif activity_level == "medium":
            print("Tall, healthy weight, medium activity")
        else:
            print("Tall, healthy weight, low activity")
    else:
        print("Tall, underweight")
elif height < 160:
    if weight > 60:
        print("Short, overweight")
    else:
        print("Short, healthy weight")
else:
    print("Average height")

Tall, healthy weight, high activity

# 3. Implementing Iterators

## Using Built-in Iterator

In [217]:
# Creating a list
my_list = [10, 20, 30, 40]

# Getting an iterator from the list
iter_obj = iter(my_list)

# Using next() to get elements
print(next(iter_obj))  # Output: 10
print(next(iter_obj))  # Output: 20
print(next(iter_obj))  # Output: 30
print(next(iter_obj))  # Output: 40

10
20
30
40

## Custom Iterator Class

In [218]:
class Counter:
    def __init__(self, low, high):
        self.current = low
        self.high = high

    def __iter__(self):
        return self

    def __next__(self):
        if self.current > self.high:
            raise StopIteration
        else:
            self.current += 1
            return self.current - 1

# Creating an instance of Counter
counter = Counter(5, 10)

# Using the custom iterator
for number in counter:
    print(number)  # Output: 5 6 7 8 9 10

5
6
7
8
9
10

## Using Iterators with Dictionaries

In [219]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Getting an iterator for the dictionary keys
iter_keys = iter(my_dict.keys())

# Iterating over the dictionary keys
for key in iter_keys:
    print(key, my_dict[key])
# Output:
# a 1
# b 2
# c 3

a 1
b 2
c 3

## Implementing an Infinite Iterator

In [220]:
class InfiniteCounter:
    def __init__(self, start=0):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        self.current += 1
        return self.current

# Creating an instance of InfiniteCounter
infinite_counter = InfiniteCounter()

# Using the infinite iterator (we'll limit the output here for demonstration)
for i in range(5):
    print(next(infinite_counter))
# Output: 1 2 3 4 5

1
2
3
4
5

## Using Iterator with a Custom Iterable

In [221]:
class Fibonacci:
    def __init__(self, max):
        self.max = max
        self.a, self.b = 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        fib = self.a
        if fib > self.max:
            raise StopIteration
        self.a, self.b = self.b, self.a + self.b
        return fib

# Creating an instance of Fibonacci with a max value of 10
fibonacci = Fibonacci(10)

# Using the Fibonacci iterator
for num in fibonacci:
    print(num)  # Output: 0 1 1 2 3 5 8

0
1
1
2
3
5
8

# 4. Applying Break and Continue Statements

## Using Break in a For Loop

In [222]:
# Print numbers from 0 to 4, stop when the number is 3
for i in range(10):
    if i == 5:
        break
    print(i)
# Output: 0 1 2 3 4

0
1
2
3
4

## Using Continue in a For Loop

In [223]:
# Print odd numbers between 0 and 9
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)
# Output: 1 3 5 7 9

1
3
5
7
9

## Break in a While Loop

In [224]:
# Print numbers from 0 to 3
count = 0

while count < 10:
    print(count)
    count += 1
    if count == 4:
        break
# Output: 0 1 2 3

0
1
2
3

## Continue in a While Loop

In [225]:
# Print odd numbers between 0 and 9
count = 0

while count < 10:
    count += 1
    if count % 2 == 0:
        continue
    print(count)
# Output: 1 3 5 7 9

1
3
5
7
9

## Nested Loops with Break

In [226]:
# Use break in nested loops to stop the inner loop when a condition is met
for i in range(3):
    for j in range(3):
        if j == 1:
            break
        print(f"i: {i}, j: {j}")
# Output:
# i: 0, j: 0
# i: 1, j: 0
# i: 2, j: 0

i: 0, j: 0
i: 1, j: 0
i: 2, j: 0

## Nested Loops with Continue

In [227]:
# Use continue in nested loops to skip the current iteration of the inner loop
for i in range(3):
    for j in range(3):
        if j == 1:
            continue
        print(f"i: {i}, j: {j}")
# Output:
# i: 0, j: 0
# i: 0, j: 2
# i: 1, j: 0
# i: 1, j: 2
# i: 2, j: 0
# i: 2, j: 2

i: 0, j: 0
i: 0, j: 2
i: 1, j: 0
i: 1, j: 2
i: 2, j: 0
i: 2, j: 2

# 5. Implementing If-Else Statements

## Simple If-Else Statement

In [228]:
# Check if a number is positive or negative
number = -10

if number >= 0:
    print("The number is positive.")
else:
    print("The number is negative.")

The number is negative.

## If-Elif-Else Statement

In [229]:
# Determine the grade based on a score
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

## Nested If-Else Statement

In [230]:
# Check if a number is positive, negative, or zero
number = 0

if number >= 0:
    if number == 0:
        print("The number is zero.")
    else:
        print("The number is positive.")
else:
    print("The number is negative.")

The number is zero.

## If-Else with Multiple Conditions

In [231]:
# Determine the type of triangle based on side lengths
a = 5
b = 5
c = 5

if a == b == c:
    print("The triangle is equilateral.")
elif a == b or b == c or a == c:
    print("The triangle is isosceles.")
else:
    print("The triangle is scalene.")

The triangle is equilateral.

## If-Else with Logical Operators

In [232]:
# Check if a person is eligible to vote
age = 18
citizen = True

if age >= 18 and citizen:
    print("Eligible to vote.")
else:
    print("Not eligible to vote.")

Eligible to vote.

# 6. Implementing While/Do-While Loops

## Simple While Loop

In [233]:
# Print numbers from 0 to 4
count = 0

while count < 5:
    print(count)
    count += 1
# Output: 0 1 2 3 4

0
1
2
3
4

# While Loop with a Condition

In [234]:
# Find the sum of all positive numbers up to a given number
number = 5
total = 0
current = 1

while current <= number:
    total += current
    current += 1

print(f"Sum of numbers up to {number} is {total}")
# Output: Sum of numbers up to 5 is 15

Sum of numbers up to 5 is 15

## Infinite While Loop with Break

In [235]:
# Print numbers from 1 until a stop condition is met
count = 1

while True:
    print(count)
    count += 1
    if count > 5:
        break
# Output: 1 2 3 4 5

1
2
3
4
5

## Simulating a Do-While Loop

In [236]:
# Print numbers from 1 to 5 using a loop that mimics do-while
count = 1

while True:
    print(count)
    count += 1
    if count > 5:
        break
# Output: 1 2 3 4 5

1
2
3
4
5

## While Loop with Else Clause

In [237]:
# Check if a number is prime
number = 29
is_prime = True
i = 2

while i <= number // 2:
    if number % i == 0:
        is_prime = False
        break
    i += 1
else:
    print(f"{number} is a prime number")

if not is_prime:
    print(f"{number} is not a prime number")
# Output: 29 is a prime number

29 is a prime number

# 7. Implementing For Loops

## Iterating Over a List

In [238]:
# Print each element in the list
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)
# Output: apple
#         banana
#         cherry

apple
banana
cherry

## Iterating Over a String

In [239]:
# Print each character in the string
word = "hello"

for letter in word:
    print(letter)
# Output: h
#         e
#         l
#         l
#         o

h
e
l
l
o

## Using Range in For Loop

In [240]:
# Print numbers from 0 to 4
for i in range(5):
    print(i)
# Output: 0
#         1
#         2
#         3
#         4

0
1
2
3
4

## Nested For Loops

In [241]:
# Print all pairs of numbers from two lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for num in list1:
    for letter in list2:
        print(f"{num} - {letter}")
# Output: 1 - a
#         1 - b
#         1 - c
#         2 - a
#         2 - b
#         2 - c
#         3 - a
#         3 - b
#         3 - c

1 - a
1 - b
1 - c
2 - a
2 - b
2 - c
3 - a
3 - b
3 - c

## Iterating Over a Dictionary

In [242]:
# Print each key-value pair in the dictionary
student_grades = {"Alice": "A", "Bob": "B", "Charlie": "C"}

for student, grade in student_grades.items():
    print(f"{student}: {grade}")
# Output: Alice: A
#         Bob: B
#         Charlie: C

Alice: A
Bob: B
Charlie: C

# 8. Implementing the Range Function in Loops

## Basic Range Usage

In [243]:
# Print numbers from 0 to 4
for i in range(5):
    print(i)
# Output: 0 1 2 3 4

0
1
2
3
4

## Range with Start and Stop

In [244]:
# Print numbers from 2 to 5
for i in range(2, 6):
    print(i)
# Output: 2 3 4 5

2
3
4
5

## Range with Step

In [245]:
# Print every second number from 1 to 9
for i in range(1, 10, 2):
    print(i)
# Output: 1 3 5 7 9

1
3
5
7
9

## Range with Negative Step

In [246]:
# Print numbers from 10 down to 1
for i in range(10, 0, -1):
    print(i)
# Output: 10 9 8 7 6 5 4 3 2 1

10
9
8
7
6
5
4
3
2
1

## Using Range in a Nested Loop

In [247]:
# Print a 3x3 grid of numbers
for i in range(3):
    for j in range(3):
        print(f"({i}, {j})", end=" ")
    print()
# Output:
# (0, 0) (0, 1) (0, 2)
# (1, 0) (1, 1) (1, 2)
# (2, 0) (2, 1) (2, 2)

(0, 0) (0, 1) (0, 2)
(1, 0) (1, 1) (1, 2)
(2, 0) (2, 1) (2, 2)